* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Débute code jerome*/

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	  background-color:#ffffff;
    background-attachment:fixed;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    max-width:90%;
}

.texte{
    height:60px;
    line-height:60px;
  text-align: center;
  margin-top:50px;
}
.texte span{
    display:inline-block;
    vertical-align:top;
}

.unilim{
    font-family: 'Raleway', sans-serif;
  font-size:38px;
  font-style: italic;
  font-weight: bold;
	color:#b52025;
}

.calendar{
	font-family: 'Raleway', sans-serif;
  font-size:38px;
  font-style: italic;
  font-weight: 700;
	color:#525c67
}

.img{
  text-align: center;
  margin-top:80px;
}
.img img{
    display:block;
    margin:auto;
}

.formulaire{
	margin-top: 10px;
  text-align: center;
}

.form{
  
  text-align: center;
  padding-top: 10%; 
  padding-left:2%; 
  height: 100px;
  width: 300px;  
  margin: 0px;
	border-radius: 10px;
}

.identifiant{
  font-family: 'Open Sans', sans-serif;
	font-weight:400;;
	font-size: 14px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #616161;
	width: 300px;
	height: 40px;
}
.password{
  font-family: 'Open Sans', sans-serif;
	font-weight:400;;
	font-size: 14px;
	border-radius: 0px 0px 5px 5px;
	border: 1px solid #616161;
	width: 300px;
	height: 40px;
}

.connexion{
	background-color:#525c67;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 24px;
	color: #ffffff;
	border-radius:5px 5px 5px 5px;
	border: solid #525c67;
	width: 300px;
	height: 45px;
	cursor: pointer;
}

.motdepasseoublie{
  text-align: center;
  padding: 95px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;;
	font-size: 12px;
	color:#525c67;
}


.motdepasseoublie a{
	color:#525c67;
}

/*Fin code jerome*/

/*Debut code page accueil*/
.header{
    height:10%;
    position:absolute;
    top:0;left:0;right:0;
    background:#ABBBBA;
}
.header a{
    text-decoration:none;
    color:#525c67;
}
.top{
    display:inline-block;
    vertical-align:middle;
    width:32%;
    margin:auto;
    text-align:center;
}
.content{
    position:absolute;
    height:280px;
    top:10%;left:0;right:0;
    padding-top:5px;
    background:#ABBBBA;
}
.nom{
    text-align:center;
}
.logo{
    bottom:0;
    padding-top:10%;  
    margin:auto;  
}
.logo span{
    display:inline-block;
    margin:auto;
}
.photo{
    margin:auto;
    height:100px;
    width:100px;
    border:1px white solid;

}
.nav{
    position:absolute;
    bottom:0;left:0;right:0;  
    
}
.nav a {
    display:block;
    float:left;
    width:49%;    
    border : 1px solid grey;
    overflow:hidden;
}
.nav a img{
    display:block;
    margin:auto;
    padding:15%;    
}


/*Fin code page accueil*/

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
