* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Débute code jerome*/

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	  background-color:#ffffff;
    background-attachment:fixed;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    max-width:90%;
}

.texte{
	height:100%;
  text-align: center;
  margin-top:50px;
}

.unilim{
	font-family: 'Raleway', sans-serif;
  font-size:52px;
  font-style: italic;
  font-weight: 700;
	color:#b52025;
}

.calendar{
	font-family: 'Raleway', sans-serif;
  font-size:52px;
  font-style: italic;
  font-weight: 700;
	color:#525c67
}

.img{
  text-align: center;
  margin-top:80px;
}

.formulaire{
	margin-top: 10px;
  text-align: center;
}

.form{
  position: relative;
  text-align: center;
  top: 10%;
  left: 42%;
  height: 100px;
  width: 300px;
  padding: 180px 0px 0px 0px;
  margin: 0px;
	border-radius: 10px;
}

.identifiant{
  font-family: 'Open Sans', sans-serif;
	font-weight:400;;
	font-size: 14px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #616161;
	width: 300px;
	height: 50px;
}
.password{
  font-family: 'Open Sans', sans-serif;
	font-weight:400;;
	font-size: 14px;
	border-radius: 0px 0px 5px 5px;
	border: 1px solid #616161;
	width: 300px;
	height: 50px;
}

.connexion{
	background-color:#525c67;
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	font-size: 24px;
	color: #ffffff;
	border-radius:5px 5px 5px 5px;
	border: solid #525c67;
	width: 300px;
	height: 50px;
	cursor: pointer;
}

.motdepasseoublie{
  text-align: center;
  padding: 100px 0 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;;
	font-size: 12px;
	color:#525c67;
}

.motdepasseoublie a{
	color:#525c67;
}

/*Fin code jerome*/

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}
